@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');
$font-face: 'Noto Sans', sans-serif;

$prefix: asx-;

$background-colour: #0b0a18;
$background-colour-opaque: #001529c2;
$header-background-colour: #1b1b1f;
$font-colour: #e8e8e8;
$border-colour: #272727;

$blue: #0097e8;
$blue-cyan: #1af4ff;
$red: #e00e0e;
$red-dark: #960000;
$yellow: #d8f10b;
$orange: #f1a00b;
$green: #02de13;

:export {
    fontColour: $font-colour;
    bgColour: $background-colour;
    borderColour: $border-colour;
}
