@import './theme';

body {
  margin: 0;
  background-color: $background-colour;
  color: $font-colour;
  font-family: $font-face;
  font-size: 12px;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 131, 255, 0.26);
    outline: 1px solid rgba(0, 95, 184, 0.316);
  }
}

.#{$prefix} {
  &wrapper {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 30px 1fr;
  }

  &body {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
  }
}
